@font-face {
    font-family: "poppins";
    src: url('./fonts/poppins/Poppins-Regular.ttf');
  }


  @font-face {
    font-family: "poppins bold";
    src: url('./fonts/poppins/Poppins-Bold.ttf');
  }